<!DOCTYPE html>
<html lang="en" ng-app="fotmApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FOTM - TAB3</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/fotm.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="cornell-header">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <a href="http://www.cornell.edu"><img src="img/cornell.gif" alt="Cornell University"></a>
          </div>
          <div class="col-md-6 cornell-search">
            <a href="http://www.cornell.edu/search/">Search Cornell</a>
          </div>
        </div>
      </div>
    </header>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-4 navbar-header">
            <a href="#" class="navbar-brand">Freedom on the Move</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="col-md-7 col-sm-8">
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="newspaper_ads.html">Newspaper Ads</a></li>
                <li><a href="transcriber.html">Transcriber</a></li>
                <li><a href="crowdsourcing_form.html">Crowdsourcing form</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    
    <section class="container" ng-controller="fotmCtrl">
      <article class="row">
        <div class="col-md-6">
          <div class="fixed">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Transcribed text</h3>
              </div>
              <div class="panel-body">
                <p>
                  Twenty Dollars Reward.<br>
                  New Times Journal<br>
                  1835-04-01<br>
                  Page 3<br>
                  RANAWAY from John Newsberry, 11 miles below Fayetteville, on the 13th of November last, a Negro Man named NELSON, 25 years of age, 5 feet 9 or 10 inches high, stout built, rather yellow complected--no particular marks recollected. He is quite an intelligent fellow: He is supposed to be lurking in the settlment where his master formerly resided, who has lately moved towards the West, or about the premises of Charles Counsel, resident in Robeson county, where he has a wife.<br>
                  The above reward will be given for his apprehension and delivery to me, or for his confinement in any jail, so that I can get him.<br>
                  URL - http://libcdm1.uncg.edu/RAS.php<br>
                  Tompkins county, Ithaca April 1, 1835
                </p>
              </div>
            </div>
          </div>
        </div>
        <form class="col-md-6 form-horizontal" name="fotmForm" id="fotmForm" action="add.php" method="post" ng-keydown="blockEnter($event)" ng-submit="submit($event)">

          <fieldset ng-show="part == 1">
            <legend>Newspaper Information</legend>
            <div class="row">
              <div class="form-group">
                <label class="col-xs-5 control-label" for="news-state">Newspaper state</label>
                <div class="col-xs-7">
                  <select class="form-control" name="news-state" id="news-state">
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="California">California</option>
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option>
                    <option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option>
                    <option value="Kentucky">Kentucky</option>
                    <option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option>
                    <option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="North Dakota">North Dakota</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="Rhode Island">Rhode Island</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option>
                    <option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : news.name.error}">
                <label class="col-xs-5 control-label" for="news-name">Newspaper name</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="news-name" id="news-name" ng-model="news.name.input" ng-keyup="news.name.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="news.name.error == true">The name should not contain any number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : news.city.error}">
                <label class="col-xs-5 control-label" for="news-city">Newspaper city</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="news-city" id="news-city" ng-model="news.city.input" ng-keyup="news.city.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="news.city.error == true">The city should not contain any number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : news.county.error}">
                <label class="col-xs-5 control-label" for="news-county">Newspaper county</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="news-county" id="news-county" ng-model="news.county.input" ng-keyup="news.county.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="news.county.error == true">The county should not contain any number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : news.date.error}">
                <label class="col-xs-5 control-label" for="news-date">Newspaper distribution date</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="news-date" id="news-date" ng-model="news.date.input" ng-keyup="news.date.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="news.date.error == true">The date format should be mm/dd/yyyy</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : news.page.error}">
                <label class="col-xs-5 control-label" for="news-page">Page number of ad</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="news-page" id="news-page" ng-model="news.page.input" ng-keyup="news.page.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="news.page.error == true">The page must be a number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : news.url.error}">
                <label class="col-xs-5 control-label" for="news-url">Source URL</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="news-url" id="news-url" ng-model="news.url.input" ng-keyup="news.url.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="news.url.error == true">The URL must be valid</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-xs-5 control-label" for="news-notes">Newspaper notes</label>
                <div class="col-xs-7">
                  <textarea class="form-control" name="news-notes" id="news-notes"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-xs-5 control-label">Was this ad placed by a jailor?</label>
                <div class="col-xs-7">
                  <label for="jailor-yes" class="radio-inline">
                    <input type="radio" name="news-jailor" value="TRUE" id="jailor-yes">
                    Yes
                  </label>
                  <label for="jailor-no" class="radio-inline">
                    <input type="radio" name="news-jailor" value="FALSE" id="jailor-no">
                    No
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset ng-show="part == 2">
            <legend>Enslaver Information</legend>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : ensl.first.error}">
                <label class="col-xs-5 control-label" for="ensl-first">Enslaver first name</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="ensl-first" id="ensl-first" ng-model="ensl.first.input" ng-keyup="ensl.first.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="ensl.first.error == true">The first name should not contain any number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : ensl.last.error}">
                <label class="col-xs-5 control-label" for="ensl-last">Enslaver last name</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="ensl-last" id="ensl-last" ng-model="ensl.last.input" ng-keyup="ensl.last.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="ensl.last.error == true">The last name should not contain any number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-xs-5 control-label" for="ensl-state">Enslaver state</label>
                <div class="col-xs-7">
                  <select class="form-control" name="ensl-state" id="ensl-state">
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="California">California</option>
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option>
                    <option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option>
                    <option value="Kentucky">Kentucky</option>
                    <option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option>
                    <option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="North Dakota">North Dakota</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="Rhode Island">Rhode Island</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option>
                    <option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : ensl.city.error}">
                <label class="col-xs-5 control-label" for="ensl-city">Enslaver city</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="ensl-city" id="ensl-city" ng-model="ensl.city.input" ng-keyup="ensl.city.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="ensl.city.error == true">The city should not contain any number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : ensl.county.error}">
                <label class="col-xs-5 control-label" for="ensl-county">Enslaver county</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="ensl-county" id="ensl-county" ng-model="ensl.county.input" ng-keyup="ensl.county.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="ensl.county.error == true">The county should not contain any number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : ensl.prevFirst.error}">
                <label class="col-xs-5 control-label" for="ensl-prev-first">Enslaver previous first name</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="ensl-prev-first" id="ensl-prev-first" ng-model="ensl.prevFirst.input" ng-keyup="ensl.prevFirst.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="ensl.prevFirst.error == true">The first name should not contain any number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : ensl.prevLast.error}">
                <label class="col-xs-5 control-label" for="ensl-prev-last">Enslaver previous last name</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="ensl-prev-last" id="ensl-prev-last" ng-model="ensl.prevLast.input" ng-keyup="ensl.prevLast.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="ensl.prevLast.error == true">The last name should not contain any number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-xs-5 control-label" for="ensl-notes">Enslaver notes</label>
                <div class="col-xs-7">
                  <textarea class="form-control" name="ensl-notes" id="ensl-notes"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-xs-5 control-label" for="loc-notes">Location notes</label>
                <div class="col-xs-7">
                  <textarea class="form-control" name="loc-notes" id="loc-notes"></textarea>
                </div>
              </div>
            </div>
          </fieldset>
          
          <fieldset ng-show="part == 3">
            <legend>Runaway Information</legend>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : runw.name.error}">
                <label class="col-xs-5 control-label" for="runw-name">What was this slave's name?</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="runw-name" id="runw-name" ng-model="runw.name.input" ng-keyup="runw.name.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="runw.name.error == true">The name should not contain any number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-xs-5 control-label">What is this slave's gender?</label>
                <div class="col-xs-7">
                  <label for="gender-male" class="radio-inline">
                    <input type="radio" name="runw-gender" value="m" id="gender-male">
                    Male
                  </label>
                  <label for="gender-female" class="radio-inline">
                    <input type="radio" name="runw-gender" value="f" id="gender-female">
                    Female
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : runw.age.error}">
                <label class="col-xs-5 control-label" for="runw-age">How old is this slave?</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="runw-age" id="runw-age" ng-model="runw.age.input" ng-keyup="runw.age.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="runw.age.error == true">The age should be a number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-xs-5 control-label">Is this age an approximate value?</label>
                <div class="col-xs-7">
                  <label for="approx-yes" class="radio-inline">
                    <input type="radio" name="runw-approx" value="TRUE" id="approx-yes">
                    Yes
                  </label>
                  <label for="approx-no" class="radio-inline">
                    <input type="radio" name="runw-approx" value="FALSE" id="approx-no">
                    No
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : runw.height.error}">
                <label class="col-xs-5 control-label" for="runw-height">What is this runaway height?</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="runw-height" id="runw-height" ng-model="runw.height.input" ng-keyup="runw.height.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block">Please enter the height in inches, if possible. If not, please make a note of it in the notes field above.</span>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="runw.height.error == true">The height should be a float</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : runw.weight.error}">
                <label class="col-xs-5 control-label" for="runw-weight">How much does this runaway weigh?</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="runw-weight" id="runw-weight" ng-model="runw.weight.input" ng-keyup="runw.weight.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block">Please enter the weight in pounds, if possible. If not, please make a note of it in the notes field above.</span>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="runw.weight.error == true">The weight should be a float</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : runw.color.error}">
                <label class="col-xs-5 control-label" for="runw-color">What color description was given for this slave?</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="runw-color" id="runw-color" ng-model="runw.color.input" ng-keyup="runw.color.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="runw.color.error == true">The color should not contain any number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-xs-5 control-label" for="runw-dress">What was the slave wearing at the time they ran away?</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="runw-dress" id="runw-dress" ng-model="runw.dress.input">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-xs-5 control-label" for="runw-build">How is the slave's build described in this ad?</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="runw-build" id="runw-build" ng-model="runw.build.input" ng-keyup="runw.build.check()">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : runw.lang.error}">
                <label class="col-xs-5 control-label" for="runw-lang">What language did the slave speak?</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="runw-lang" id="runw-lang" ng-model="runw.lang.input" ng-keyup="runw.lang.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="runw.lang.error == true">The language should not contain any number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : runw.prof.error}">
                <label class="col-xs-5 control-label" for="runw-prof">What profession was attributed to this slave?</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="runw-prof" id="runw-prof" ng-model="runw.prof.input" ng-keyup="runw.prof.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="runw.prof.error == true">The profession should not contain any number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-xs-5 control-label" for="runw-scar">Please describe any scars or mutilations that this slave had at the time of their flight</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="runw-scar" id="runw-scar" ng-model="runw.scar.input" ng-keyup="runw.scar.check()">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-xs-5 control-label" for="runw-phys">Were there any other physical attributes given to describe this runaway?</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="runw-phys" id="runw-phys" ng-model="runw.phys.input" ng-keyup="runw.phys.check()">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-xs-5 control-label" for="runw-notes">Notes</label>
                <div class="col-xs-7">
                  <textarea class="form-control" name="runw-notes" id="runw-notes"></textarea>
                </div>
                <span class="col-xs-7 col-xs-offset-5">Enter anything else of interest here.</span>
              </div>
            </div>
          </fieldset>

          <fieldset ng-show="part == 4">
            <legend>Runaway Event</legend>
            <div class="row">
              <div class="form-group">
                <label class="col-xs-5 control-label" for="event-state-caught">What state was the slave caught in?</label>
                <div class="col-xs-7">
                  <select class="form-control" name="event-state-caught" id="event-state-caught">
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="California">California</option>
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option>
                    <option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option>
                    <option value="Kentucky">Kentucky</option>
                    <option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option>
                    <option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="North Dakota">North Dakota</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="Rhode Island">Rhode Island</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option>
                    <option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-xs-5 control-label" for="event-state-sold">What state was the slave sold from?</label>
                <div class="col-xs-7">
                  <select class="form-control" name="event-state-sold" id="event-state-sold">
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="California">California</option>
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option>
                    <option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option>
                    <option value="Kentucky">Kentucky</option>
                    <option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option>
                    <option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="North Dakota">North Dakota</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="Rhode Island">Rhode Island</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option>
                    <option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : event.countySold.error}">
                <label class="col-xs-5 control-label" for="event-county-sold">What county was the slave sold from?</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="event-county-sold" id="event-county-sold" ng-model="event.countySold.input" ng-keyup="event.countySold.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="event.countySold.error == true">The county should not contain any number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : event.citySold.error}">
                <label class="col-xs-5 control-label" for="event-city-sold">What city was the slave sold from?</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="event-city-sold" id="event-city-sold" ng-model="event.citySold.input" ng-keyup="event.citySold.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="event.citySold.error == true">The city should not contain any number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-xs-5 control-label" for="event-state-run">What state did the slave run from?</label>
                <div class="col-xs-7">
                  <select class="form-control" name="event-state-run" id="event-state-run">
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="California">California</option>
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option>
                    <option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option>
                    <option value="Kentucky">Kentucky</option>
                    <option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option>
                    <option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="North Dakota">North Dakota</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="Rhode Island">Rhode Island</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option>
                    <option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : event.countyRun.error}">
                <label class="col-xs-5 control-label" for="event-county-run">What county did the slave runaway from?</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="event-county-run" id="event-county-run" ng-model="event.countyRun.input" ng-keyup="event.countyRun.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="event.countyRun.error == true">The county should not contain any number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : event.cityRun.error}">
                <label class="col-xs-5 control-label" for="event-city-run">What city did the slave runaway from?</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="event-city-run" id="event-city-run" ng-model="event.cityRun.input" ng-keyup="event.cityRun.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="event.cityRun.error == true">The city should not contain any number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-xs-5 control-label">Was the slave recently sold?</label>
                <div class="col-xs-7">
                  <label for="recently-yes" class="radio-inline">
                    <input type="radio" name="event-recently-sold" value="TRUE" id="recently-yes">
                    Yes
                  </label>
                  <label for="recently-no" class="radio-inline">
                    <input type="radio" name="event-recently-sold" value="FALSE" id="recently-no">
                    No
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : event.where.error}">
                <label class="col-xs-5 control-label" for="event-where">Where was the runaway headed?</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="event-where" id="event-where" ng-model="event.where.input" ng-keyup="event.where.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="event.where.error == true">The place should not contain any number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-xs-5 control-label">Did they run alone?</label>
                <div class="col-xs-7">
                  <label for="alone-yes" class="radio-inline">
                    <input type="radio" name="event-alone" value="TRUE" id="alone-yes">
                    Yes
                  </label>
                  <label for="alone-no" class="radio-inline">
                    <input type="radio" name="event-alone" value="FALSE" id="alone-no">
                    No
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : event.number.error}">
                <label class="col-xs-5 control-label" for="event-number">How many people did this runaway run away with?</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="event-number" id="event-number" ng-model="event.number.input" ng-keyup="event.number.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="event.number.error == true">The number of people should be a number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-xs-5 control-label">Did the slave run mid-forced migration?</label>
                <div class="col-xs-7">
                  <label for="migration-yes" class="radio-inline">
                    <input type="radio" name="event-migration" value="TRUE" id="migration-yes">
                    Yes
                  </label>
                  <label for="migration-no" class="radio-inline">
                    <input type="radio" name="event-migration" value="FALSE" id="migration-no">
                    No
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : event.age.error}">
                <label class="col-xs-5 control-label" for="event-age">How old was this slave at the time they ran?</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="event-age" id="event-age" ng-model="event.age.input" ng-keyup="event.age.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="event.age.error == true">The age should be a number</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-xs-5 control-label">Had the slave been caught before?</label>
                <div class="col-xs-7">
                  <label for="before-yes" class="radio-inline">
                    <input type="radio" name="event-caught-before" value="TRUE" id="before-yes">
                    Yes
                  </label>
                  <label for="before-no" class="radio-inline">
                    <input type="radio" name="event-caught-before" value="FALSE" id="before-no">
                    No
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : event.reward.error}">
                <label class="col-xs-5 control-label" for="event-reward">Was there a reward listed? What was the amount?</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="event-reward" id="event-reward" ng-model="event.reward.input" ng-keyup="event.reward.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="event.reward.error == true">This should be a number</span>
              </div>
            </div>
          </fieldset>

          <fieldset ng-show="part == 5">
            <legend>Runaway Family and Children</legend>
            <div class="row">
              <div class="form-group" ng-class="{'has-error' : child.number.error}">
                <label class="col-xs-5 control-label" for="child-number">How many children did the slave had?</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="child-number" id="child-number" ng-model="child.number.input" ng-keyup="child.number.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="child.number.error == true">The number of children should be a number</span>
              </div>
            </div>
            <div class="row" ng-show="child.number.input >= 1">
              <div class="form-group" ng-class="{'has-error' : child.oneName.error}">
                <label class="col-xs-5 control-label" for="child-one-name">Child 1 name</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="child-one-name" id="child-one-name" ng-model="child.oneName.input" ng-keyup="child.oneName.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="child.oneName.error == true">The name should not contain any number</span>
              </div>
            </div>
            <div class="row" ng-show="child.number.input >= 1">
              <div class="form-group">
                <label class="col-xs-5 control-label">Child 1 gender</label>
                <div class="col-xs-7">
                  <label for="gender-male" class="radio-inline">
                    <input type="radio" name="child-one-gender" value="m" id="gender-male">
                    Male
                  </label>
                  <label for="gender-female" class="radio-inline">
                    <input type="radio" name="child-one-gender" value="f" id="gender-female">
                    Female
                  </label>
                </div>
              </div>
            </div>
            <div class="row" ng-show="child.number.input >= 1">
              <div class="form-group" ng-class="{'has-error' : child.oneAge.error}">
                <label class="col-xs-5 control-label" for="child-one-age">Child 1 age</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="child-one-age" id="child-one-age" ng-model="child.oneAge.input" ng-keyup="child.oneAge.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="child.oneAge.error == true">The age should be a number</span>
              </div>
            </div>
            <div class="row" ng-show="child.number.input >= 2">
              <div class="form-group" ng-class="{'has-error' : child.twoName.error}">
                <label class="col-xs-5 control-label" for="child-two-name">Child 2 name</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="child-two-name" id="child-two-name" ng-model="child.twoName.input" ng-keyup="child.twoName.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="child.twoName.error == true">The name should not contain any number</span>
              </div>
            </div>
            <div class="row" ng-show="child.number.input >= 2">
              <div class="form-group">
                <label class="col-xs-5 control-label">Child 2 gender</label>
                <div class="col-xs-7">
                  <label for="gender-male" class="radio-inline">
                    <input type="radio" name="child-two-gender" value="m" id="gender-male">
                    Male
                  </label>
                  <label for="gender-female" class="radio-inline">
                    <input type="radio" name="child-two-gender" value="f" id="gender-female">
                    Female
                  </label>
                </div>
              </div>
            </div>
            <div class="row" ng-show="child.number.input >= 2">
              <div class="form-group" ng-class="{'has-error' : child.twoAge.error}">
                <label class="col-xs-5 control-label" for="child-two-age">Child 2 age</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="child-two-age" id="child-two-age" ng-model="child.twoAge.input" ng-keyup="child.twoAge.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="child.twoAge.error == true">The age should be a number</span>
              </div>
            </div>
            <div class="row" ng-show="child.number.input >= 3">
              <div class="form-group" ng-class="{'has-error' : child.threeName.error}">
                <label class="col-xs-5 control-label" for="child-three-name">Child 3 name</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="child-three-name" id="child-three-name" ng-model="child.threeName.input" ng-keyup="child.threeName.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="child.threeName.error == true">The name should not contain any number</span>
              </div>
            </div>
            <div class="row" ng-show="child.number.input >= 3">
              <div class="form-group">
                <label class="col-xs-5 control-label">Child 3 gender</label>
                <div class="col-xs-7">
                  <label for="gender-male" class="radio-inline">
                    <input type="radio" name="child-three-gender" value="m" id="gender-male">
                    Male
                  </label>
                  <label for="gender-female" class="radio-inline">
                    <input type="radio" name="child-three-gender" value="f" id="gender-female">
                    Female
                  </label>
                </div>
              </div>
            </div>
            <div class="row" ng-show="child.number.input >= 3">
              <div class="form-group" ng-class="{'has-error' : child.threeAge.error}">
                <label class="col-xs-5 control-label" for="child-three-age">Child 3 age</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="child-three-age" id="child-three-age" ng-model="child.threeAge.input" ng-keyup="child.threeAge.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="child.threeAge.error == true">The age should be a number</span>
              </div>
            </div>
            <div class="row" ng-show="child.number.input >= 4">
              <div class="form-group" ng-class="{'has-error' : child.fourName.error}">
                <label class="col-xs-5 control-label" for="child-four-name">Child 4 name</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="child-four-name" id="child-four-name" ng-model="child.fourName.input" ng-keyup="child.fourName.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="child.fourName.error == true">The name should not contain any number</span>
              </div>
            </div>
            <div class="row" ng-show="child.number.input >= 4">
              <div class="form-group">
                <label class="col-xs-5 control-label">Child 4 gender</label>
                <div class="col-xs-7">
                  <label for="gender-male" class="radio-inline">
                    <input type="radio" name="child-four-gender" value="m" id="gender-male">
                    Male
                  </label>
                  <label for="gender-female" class="radio-inline">
                    <input type="radio" name="child-four-gender" value="f" id="gender-female">
                    Female
                  </label>
                </div>
              </div>
            </div>
            <div class="row" ng-show="child.number.input >= 4">
              <div class="form-group" ng-class="{'has-error' : child.fourAge.error}">
                <label class="col-xs-5 control-label" for="child-four-age">Child 4 age</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" name="child-four-age" id="child-four-age" ng-model="child.fourAge.input" ng-keyup="child.fourAge.check()">
                </div>
                <span class="col-xs-7 col-xs-offset-5 help-block" ng-show="child.fourAge.error == true">The age should be a number</span>
              </div>
            </div>
          </fieldset>

          <div class="row">
            <div class="form-group prev-next">
              <a href="#" class="btn btn-default pull-left" ng-click="previous()" ng-if="part > 1"><span class="glyphicon glyphicon-backward"></span> Previous</a>
              <a href="#" class="btn btn-default pull-right" ng-click="next()" ng-if="part < 5">Next <span class="glyphicon glyphicon-forward"></span></a>
              <input type="submit" class="btn btn-info pull-right" value="Submit" ng-if="part == 5">
            </div>
          </div>
        </form>
      </article>
    </section>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/fotm.js"></script>
  </body>
</html>